</div>
<footer>
<div class="jumbotron text-center bg-none text-white mb-0 py-4 footer">
	<hr>
	<h4>
		Thanks For Visiting
	</h4>
	<h3>
		Contact Developer
		<div>
			<a href="https://www.instagram.com/_vishantchaudhary"><i class="fab fa-instagram"></i></a>
		    <a href="mailto: vishantchaudhary007@gmail.com"><i class="fas fa-at"></i></a>
		    <a href="https://www.linkedin.com/in/vishant-chaudhary-bb8905183"><i class="fab fa-linkedin"></i></a>
		</div>
	</h3>
	<br>
	<h5>
		All Rights Reserved Under CRFT Coorp.
	</h5>
</div>
	</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
</body>
</html>